# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# venv
myenv/
.venv/
venv/

# outputs
out_sprays/
*.parquet
*.jsonl
*.mp4
*.mkv
*.log

# demos (large binaries)
*.dem

# OS/editor
.DS_Store
.idea/
.vscode/
