# Python
__pycache__/
*.egg-info/
dist/
build/

# venv
myenv/
.venv/
venv/

# outputs
out_sprays/
*.parquet
*.jsonl
*.json
*.mp4
*.mkv
*.log
*.txt
.env
*.env

# demos (large binaries)
*.dem
*.dem.info
*.dem.bz2

# OS/editor
.DS_Store
.idea/
.vscode/
